In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_excel('CityTemp.xlsx')
df.head()

,,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Latitude
0,Amsterdam,2,2,5,8,12,15,17,17,15,11,6,3,52.37
1,Ankara,1,0,6,12,17,19,23,22,18,14,8,2,39.87
2,Athens,9,10,12,16,21,26,29,28,24,20,15,11,37.97
3,Belgrade,1,3,8,13,17,22,23,23,19,14,8,6,44.82
4,Berlin,-2,1,4,10,14,18,21,19,16,10,4,0,52.52

In [8]:
def remove_whitespace( x ):
    if isinstance( x, str ):
        return x.strip()
    else:
        return x

df = df.applymap( remove_whitespace )
matrix=df.to_numpy()

In [9]:
temp_matrix=np.zeros((33,13))

In [10]:
for i in range(33):
  temp_matrix[i]=matrix[i][1:].astype(np.float)

In [11]:
temp_matrix[4][12]

52.52

In [12]:
temp_matrix.shape

(33, 13)

In [14]:
temp_matrix

array([[  2.  ,   2.  ,   5.  ,   8.  ,  12.  ,  15.  ,  17.  ,  17.  ,
         15.  ,  11.  ,   6.  ,   3.  ,  52.37],
       [  1.  ,   0.  ,   6.  ,  12.  ,  17.  ,  19.  ,  23.  ,  22.  ,
         18.  ,  14.  ,   8.  ,   2.  ,  39.87],
       [  9.  ,  10.  ,  12.  ,  16.  ,  21.  ,  26.  ,  29.  ,  28.  ,
         24.  ,  20.  ,  15.  ,  11.  ,  37.97],
       [  1.  ,   3.  ,   8.  ,  13.  ,  17.  ,  22.  ,  23.  ,  23.  ,
         19.  ,  14.  ,   8.  ,   6.  ,  44.82],
       [ -2.  ,   1.  ,   4.  ,  10.  ,  14.  ,  18.  ,  21.  ,  19.  ,
         16.  ,  10.  ,   4.  ,   0.  ,  52.52],
       [  1.  ,   1.  ,   6.  ,  10.  ,  13.  ,  17.  ,  18.  ,  19.  ,
         15.  ,  10.  ,   4.  ,   1.  ,  46.95],
       [  1.  ,   2.  ,   7.  ,  11.  ,  14.  ,  18.  ,  20.  ,  16.  ,
         16.  ,  11.  ,   7.  ,   2.  ,  50.73],
       [  1.  ,   4.  ,   7.  ,  11.  ,  13.  ,  18.  ,  19.  ,  18.  ,
         17.  ,  12.  ,   7.  ,   3.  ,  50.85],
       [ -4.  ,  -2.  ,   6.  ,  12.  ,  17.  ,  21.  ,  23.  ,  23.  ,
         18.  ,  13.  ,   7.  ,   1.  ,  44.42],
       [ -2.  ,   1.  ,   7.  ,  13.  ,  17.  ,  21.  ,  23.  ,  23.  ,
         18.  ,  13.  ,   6.  ,   1.  ,  47.47],
       [ -1.  ,   0.  ,   3.  ,   8.  ,  13.  ,  17.  ,  18.  ,  18.  ,
         14.  ,   9.  ,   4.  ,   2.  ,  55.67],
       [  3.  ,   4.  ,   6.  ,   8.  ,  11.  ,  14.  ,  16.  ,  14.  ,
         12.  ,   9.  ,   6.  ,   4.  ,  53.33],
       [ -9.  ,  -8.  ,  -4.  ,   3.  ,  10.  ,  15.  ,  18.  ,  16.  ,
         11.  ,   4.  ,  -1.  ,  -6.  ,  60.17],
       [ 11.  ,  12.  ,  15.  ,  17.  ,  19.  ,  23.  ,  25.  ,  24.  ,
         23.  ,  19.  ,  14.  ,  11.  ,  38.7 ],
       [  7.  ,   8.  ,  10.  ,  13.  ,  17.  ,  20.  ,  22.  ,  21.  ,
         19.  ,  15.  ,  10.  ,   8.  ,  51.5 ],
       [  0.  ,   1.  ,   7.  ,  11.  ,  13.  ,  17.  ,  19.  ,  18.  ,
         15.  ,   9.  ,   4.  ,   2.  ,  49.6 ],
       [ 17.  ,  17.  ,  18.  ,  21.  ,  23.  ,  27.  ,  29.  ,  30.  ,
         27.  ,  23.  ,  20.  ,  17.  ,  36.51],
       [-14.  , -12.  ,  -6.  ,   6.  ,  14.  ,  15.  ,  18.  ,  17.  ,
         12.  ,   6.  ,  -2.  , -10.  ,  55.75],
       [ -5.  ,  -4.  ,   1.  ,   5.  ,  11.  ,  16.  ,  17.  ,  16.  ,
         11.  ,   7.  ,   2.  ,   3.  ,  59.95],
       [  4.  ,   5.  ,   9.  ,  13.  ,  16.  ,  19.  ,  22.  ,  21.  ,
         18.  ,  13.  ,   7.  ,   4.  ,  48.85],
       [ -2.  ,  -1.  ,   4.  ,  11.  ,  15.  ,  19.  ,  21.  ,  20.  ,
         16.  ,  10.  ,   4.  ,   0.  ,  50.08],
       [  7.  ,   8.  ,  11.  ,  14.  ,  18.  ,  23.  ,  25.  ,  25.  ,
         22.  ,  17.  ,  12.  ,   9.  ,  41.9 ],
       [ -1.  ,   1.  ,   7.  ,  12.  ,  16.  ,  19.  ,  22.  ,  21.  ,
         17.  ,  12.  ,   7.  ,   1.  ,  42.7 ],
       [ -4.  ,  -4.  ,  -1.  ,   6.  ,  11.  ,  16.  ,  19.  ,  17.  ,
         12.  ,   7.  ,   2.  ,  -1.  ,  59.32],
       [ -1.  ,   1.  ,   6.  ,  12.  ,  15.  ,  11.  ,  15.  ,  21.  ,
         17.  ,  11.  ,   6.  ,   2.  ,  48.2 ],
       [ -5.  ,  -4.  ,   3.  ,   9.  ,  16.  ,  18.  ,  21.  ,  19.  ,
         16.  ,  10.  ,   4.  ,   2.  ,  52.23],
       [ -0.4 ,   1.2 ,   5.5 ,  11.  ,  16.  ,  19.1 ,  21.3 ,  20.7 ,
         15.9 ,  10.4 ,   4.9 ,   0.7 ,  48.13],
       [  4.2 ,   4.5 ,   6.2 ,   8.1 ,  10.8 ,  13.5 ,  15.3 ,  15.2 ,
         13.  ,   9.8 ,   6.7 ,   4.2 ,  55.95],
       [  0.3 ,   1.9 ,   6.5 ,  10.8 ,  15.8 ,  19.1 ,  21.3 ,  20.6 ,
         16.  ,  11.2 ,   5.6 ,   1.2 ,  46.05],
       [  6.3 ,   7.9 ,  11.2 ,  12.9 ,  16.7 ,  22.2 ,  25.6 ,  25.1 ,
         20.9 ,  15.1 ,   9.9 ,   6.9 ,  40.38],
       [  2.5 ,   4.7 ,   9.  ,  12.2 ,  17.  ,  20.8 ,  23.6 ,  23.  ,
         19.2 ,  13.4 ,   7.2 ,   3.3 ,  45.46],
       [ -5.5 ,  -5.8 ,  -1.3 ,   5.1 ,  11.3 ,  15.7 ,  18.8 ,  16.9 ,
         11.6 ,   6.2 ,   0.1 ,  -3.7 ,  59.56],
       [  0.1 ,   2.6 ,   7.6 ,  12.1 ,  17.3 ,  21.5 ,  23.8 ,  23.8 ,
         18.8 ,  13.1 ,   6.5 ,   1.7 ,  42.  ]])